<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, intial-scale=1">
	<!-- Above 3 meta tags **must** come first in the head -->
	<meta name="description" content="Hackwit">
    <meta name="author" content="Val Mack">

	<title>Hackwit</title>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="../css/style.css">
</head>
<body>
	<div class="container">
      <div class="main-content">
        <h1>Create a website hosted for free by GitHub Pages</h1>
        <p class="lead">
        	<ol>
					<li>Move index.html to the folder named after your repository. (Remember repo should be username.github.io)</li>
					<li>Git init in the github username directory</li>
					<li>Git add . files to stage</li>
					<li>Git commit -m  "first commit"</li>
					<li>Connect local repo to remote repo</li>
					<li>git remote add origin https://username@github.com/username/username.github.io</li>
					<p>and if that doesn't work</p>
					<li>git remote set-url origin https://username@github.com/username/username.github.io</li>
					<li>git push --set-upstream origin master</li>
				</ol>
        </p>
        <iframe width="420" height="315" src="https://www.youtube.com/embed/khzMK-lrDGg" frameborder="0" allowfullscreen></iframe>

      </div>

    </div>


</body>
</html>